body {
    background-color: lightBlue;
}

div{
	//border: 1px solid red;
}

#placar1{
	font-size:28px;
}

#placar2{
	font-size:28px;
}


/*Imagem das cartas*/
.cartaImagem{
	height: 360px;
	width: 275px;
	border: 40px solid rgba(165, 42, 42, 0.7);
}
 
 /*Imagem dos avatares*/
.imagemChar{
//position: relative;
}

/*Nomes dos Jogadores*/
.jogadores{
	font-weight:bold; 
	font-size:30px; 
	//position:relative;
}

/*Valores falados pelos jogadores*/

.valorFalado{
	//position:relative;
	border: 2px solid MidnightBlue;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.9);
}


 
/*Avatar jogador 1*/
#yugi{
	height:240px;
	width:120px;
	top:20px; 
	//right:290px;
}

/*Avatar jogador 2*/
#kaiba{
	height:240px;
	width:160px;
	left:0px;
	top:10px;
}
#imgemYugi{
	//padding-top: 100px;
}

#yugiavatar{
	padding-top: 35px;
}

#kaibaavatar{
	padding-top: 35px;
}

#imagemKaiba {
	//padding-top: 100px;
}

/*Nome jogador 1*/
#jogador1{
	color: white;
}

/*Nome jogador 2*/
#jogador2{
	color: white;
}

/*Imagem da carta 2*/
#cartaum{
	padding-top:27px;
}

#cartadois{
	padding-top:27px;
}

/*Placar*/
#placar{
	border: 3px solid rgb(25, 25, 112);
	padding-left: 10px;
	margin-top: 5px;
	//position: relative;
	bottom: 80px;
	color: 	#000000;
	background-color: rgba(255, 255, 255, 0.85);
}


#botoes{
	padding:30px;
}
