body {
    background-color: lightBlue;
}

div{
	//border: 1px solid red;
}

#placar1{
	font-size:28px;
}

#placar2{
	font-size:28px;
}


/*Imagem das cartas*/
.cartaImagem{
	height: 360px;
	width: 240px;
	border: 40px solid pink;
}
 
 /*Imagem dos avatares*/
.imagemChar{
//position: relative;
}

/*Nomes dos Jogadores*/
.jogadores{
	font-weight:bold; 
	font-size:30px; 
	//position:relative;
}

/*Valores falados pelos jogadores*/

.valorFalado{
	//position:relative;
	border: 2px solid Blue;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
}

/*Valor falado pelo jogador 1*/
#valorFalado1{
	bottom: 400px;
	left: 400px;
}

/*Valor falado pelo jogador 2*/
#valorFalado2{
	bottom: 400px;
	left: 600px;
}

 
/*Avatar jogador 1*/
#yugi{
	height:240px;
	width:120px;
	top:20px; 
	//right:290px;
}

/*Avatar jogador 2*/
#kaiba{
	height:240px;
	width:160px;
	left:0px;
	top:10px;
}
#imgemYugi{
	//padding-top: 100px;
}

#yugiavatar{
	padding-top: 35px;
}

#kaibaavatar{
	padding-top: 35px;
}

#imagemKaiba {
	//padding-top: 100px;
}

/*Nome jogador 1*/
#jogador1{
	left:80px;
}

/*Nome jogador 2*/
#jogador2{
	left:1000px;
	bottom: 60px
}

/*Imagem da carta 2*/
#cartaum{
	padding-top:27px;
}

#cartadois{
	padding-top:27px;
}

/*Placar*/
#placar{
	border: 5px solid;
	padding-left: 10px;
	//position: relative;
	bottom: 80px;
}

#botoes{
	padding:30px;
}
